[submodule "bevy_crates"]
	path = bevy_crates
	url = https://github.com/sim82/bevy_crates.git
[submodule "crates/bevy-parallax"]
	path = crates/bevy-parallax
	url = git@github.com:Corrosive-Games/bevy-parallax.git
